@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $Dark-Theme-Very-Dark-Blue;
    color: $Very-Light-Gray;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $Light-Grayish-Blue;
}
a:hover{
    color: $Bright-Blue;
}
input{
    font-family: 'Josefin Sans', sans-serif;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
button{
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    cursor: pointer;
}
.app{
    height: 100vh;
    color: $Very-Light-Gray;
}